{% extends 'main/leyout.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<script src="page2.js"></script>
<font class="main-title">
     Learning Log
</font>
<a>&nbsp;Веб-додаток Learning Log, за допомогою якого користувач зможе вести журнал
тем, що його цікавлять, і створювати записи в журналі під час вивчення кожної теми.
Домашня сторінка Learning Log містить опис сайту та запрошує користувача зареєструватися
або ввести свої облікові дані. Після успішного входу користувач отримує можливість
створювати нові теми, додавати нові записи, читати та редагувати наявні записи.
</a>
{% endblock %}
