{% extends 'main/leyout.html' %}

{% block title %}
        {{ title }}
{% endblock %}

{% block content %}
<font class="main-title">
    {{ title }}
</font>
<center>
    <button onclick="window.location.href='https://google.com';" class="custom-btn btn-1">Google</button>
    <button class="custom-btn btn-1">Ок</button>
    <button class="custom-btn btn-1">Ок</button>
    <button class="custom-btn btn-1">Ок</button>
    <button class="custom-btn btn-1">Ок</button>
    <button class="custom-btn btn-1">Ок</button>
    <button class="custom-btn btn-1">Ок</button>
    <button class="custom-btn btn-1">Ок</button>
    <button class="custom-btn btn-1">Ок</button>
    <button class="custom-btn btn-1">Ок</button>
    <button class="custom-btn btn-1">Ок</button>
    <button class="custom-btn btn-1">Ок</button>
    <button class="custom-btn btn-1">Ок</button>
    <button class="custom-btn btn-1">Ок</button>
    <button class="custom-btn btn-1">Ок</button>
</center>
{% endblock %}